*{
    padding: 0;
    margin: 0;
}

  
body{
    background-size: cover;
}


header{
    background-color:white;
    height: 7em;     
}


.head-tag{
    background-color: skyblue;
}


.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 8px;
    margin-right: 80px;
}

.head-tag a:hover{
    color:grey;
    background-color: teal;
    transition: 0.5s ease-in-out;
}


.p{
  color: white;  
  text-align: center;
}

.Mymargin{
    margin: 25px;
    margin-left: 9%;
}

img{
    margin-right: 10%;
    margin-top: 15px;
}

.carousel{
margin-right: 20px;

}

 .form-group{
    border: 3px solid blue; 
     text-align: center;
     margin-left: 20%;
     margin-right: 20%;
     padding: 5em;
     background-color: beige;
 }

 .form-check{
     text-align: left;
     
 }

 .sign{
     text-align: center;
     color:black;
     margin-top: 5%;
 }

